@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	main h1 {
		@apply text-3xl mb-2 font-semibold
	}
	main h2 {
		@apply text-2xl mb-2 font-semibold
	}
	main h3 {
		@apply text-xl mb-2 font-semibold
	}
	main h4 {
		@apply text-lg mb-2 font-semibold
	}
	main h5 {
		@apply text-base mb-2 font-semibold
	}
	main h6 {
		@apply text-sm mb-2 font-semibold
	}
	main h6 + h2,
	main blockquote + h2,
	main hr + h2,
	main pre + h2,
	main table + h2 {
		@apply mt-8
	}
	main p {
		@apply text-base mb-6
	}
	main p + p {
		@apply -mt-4
	}
	main a, main a:visited {
		@apply underline
	}
	main ol {
		@apply text-base mb-6 list-decimal list-outside pl-4
	}
	main ul {
		@apply text-base mb-6 list-disc list-outside pl-4
	}
	main ul ul {
		@apply mt-3 mb-0
	}
	main li {
		@apply text-base pb-3
	}
	main hr {
		@apply mb-4 border-current
	}
	main pre {
		@apply font-['MonoLisa'] bg-white text-xs rounded-sm border border-slate-200 px-2 py-2 dark:bg-slate-600 dark:border-slate-600 dark:text-slate-300 mb-4
	}
	main code {
		@apply font-['MonoLisa'] text-xs dark:text-slate-300
	}
	main table {
		@apply table-auto mb-4 border border-current
	}
	main th,
	main td {
		@apply px-2 py-2 border border-current
	}
	main blockquote {
		@apply pl-3 border-l-4 border-current italic
	}
}

@font-face {
	font-family: 'MonoLisa';
	src: url('/fonts/MonoLisaVariableNormal.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('/fonts/MonoLisaVariableItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

.logo {
	font-feature-settings: "ss02";
	font-style: italic;
}